<header class="st-header q-pa-sm">
    <h1 draggable="true" class="st-header__title text-h3">Time Series Analysis</h1>
</header>
<div class="row st-col">
    <div class="st-col col-6 col-sm st-module st-col">
        <h3>Parameters</h3>
        <p>Upload file to add to Database</p>
        <q-file v-model="uploaded_file" label="Upload CSV"></q-file>
        <p>Select the aggregation level</p>
        <q-select v-model="grouping_type" :options="['empresa', 'areayacimiento', 'cuenca', 'provincia', 'idpozo']" label="Grouping Type"></q-select>
        <p>Group to train</p>
        <q-select v-model="grouping_value" :options="grouping_options" label="Grouping Value"></q-select>
        <p>Start Date</p>
        <q-date v-model="start_date" label="Start Date"></q-date>
        <p>End Date</p>
        <q-date v-model="end_date" label="End Date"></q-date>
        <p>Forecasting Range</p>
        <q-slider v-model="forecast_periods" :min="1" :max="36" :step="1" label label-always></q-slider>
        <br />
        <div class="row st-col">
            <div class="st-col col-6 col-sm st-col">
                <q-btn color="primary" label="TRAIN" v-on:click="train = !train" :loading="training" text-color="black" :disable="disable_train"></q-btn>
                <q-btn color="primary" label="SAVE" v-on:click="save = !save" text-color="black" :disable="disable_train"></q-btn>
            </div>
        </div>
    </div>
    <div class="st-col col-6 col-sm st-module st-col">
        <q-img :src="plot_data" v-if="plot_data"></q-img>
    </div>
</div>
